.message-failed-component-dark-theme {
  background-color: #ea0038;
  color: white;
  width: 24px;
  height: 24px;
  border: 1px solid $darkBorderColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  right: 45px;
  cursor: pointer;
}

.resend-message-dialog-component-dark-theme {
  width: 400px;
  padding: 22px 24px 20px;
  background-color: #3b4a54;

  .resend-message-dialog-component-header {
    width: 100%;

    h1 {
      font-size: 14.2px;
      line-height: 25px;
      font-weight: 400;
      color: #d1d7db;
    }
  }

  .resend-message-dialog-body-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    button {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1.25px;
    }

    .MuiButton-outlined {
      border-color: #8696a026;
      color: #00a884;
    }

    .MuiButton-outlined:hover {
      color: #06cf9c;
    }

    .MuiButton-contained {
      background-color: #00a884;
      color: #111b21;
      margin-left: 5px;
    }

    .MuiButton-contained:hover {
      background-color: #06cf9c;
    }
  }
}
