.deleted-message-component-dark-theme {
  .deleted-message-body-container {
    display: flex;
    color: #667781;
    font-style: italic;
    font-size: 14.2px;
    padding: 3px 0;
    svg {
      margin-right: 4px;
    }
    span {
      .space {
        display: inline-block;
        width: 60px;
        min-height: 1px;
        visibility: hidden;
      }
    }
  }

  .message-time-container {
    float: right;
    margin: -10px 0 -5px 4px;
    position: relative;
    z-index: 10;
    color: #ffffff99;
    height: 15px;
    font-size: 0.6875rem;
    white-space: nowrap;
    line-height: 17px;
    display: flex;

    P {
      display: inline-block;
      vertical-align: top;
    }
  }
}

//********************************************************* LIGHT THEME STYLES

.deleted-message-component-light-theme {
  .deleted-message-body-container {
    display: flex;
    color: #667781;
    font-style: italic;
    font-size: 14.2px;
    padding: 3px 0;
    svg {
      margin-right: 4px;
    }
    span {
      .space {
        display: inline-block;
        width: 60px;
        min-height: 1px;
        visibility: hidden;
      }
    }
  }

  .message-time-container {
    float: right;
    margin: -10px 0 -5px 4px;
    position: relative;
    z-index: 10;
    color: #667781;
    height: 15px;
    font-size: 0.6875rem;
    white-space: nowrap;
    line-height: 17px;
    display: flex;

    P {
      display: inline-block;
      vertical-align: top;
    }
  }
}
