.message-status-component-dark-theme {
  display: flex;
  align-items: center;
  color: #ffffff99;
}

.message-status-component-light-theme {
  display: flex;
  align-items: center;
  color: #4e4e4e99;
}

.status-type-image-gif {
  color: #ffffff99;
}

.message-is-seen {
  color: #53bdeb;
}
