$slide-right: slide-right;
$slide-up: slide-up;
$slide-down: slide-down;
$beating-heart: beating-heart;

@keyframes #{$slide-right} {
  100% {
    left: 0;
  }
}

@-webkit-keyframes #{$slide-right} {
  100% {
    left: 0;
  }
}

@-webkit-keyframes #{$slide-up} {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes #{$slide-up} {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes #{$slide-down} {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes #{$slide-down} {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes #{$beating-heart} {
  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }
  20%,
  70% {
    transform: scale(0.92, 0.95);
  }
}
